body {
    margin-top: 150px;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    border: 1px solid grey;
    border-radius: 5px;
    list-style: none;
    padding: 5px;
    display: flex; /* Alinea el contenido del <li> */
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
}

input {
    border: none;
    width: 100%;
}

ul li .eliminar {
    display: none;
    cursor: pointer;
    color: red;
}

ul li:hover .eliminar {
    display: inline-block;
}

